.about-wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  z-index: 1;
}

.about-wave-top svg {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;    /* remove extra inline spacing */
  stroke: none; 
  fill: theme("colors.base-100");
  color: theme("colors.base-100");
}