.ribbon {
  --s: 1.8em; /* ribbon size */
  --d: 0.6em; /* depth */
  --c: 0.8em; /* cutout */

  display: inline-block;
  padding: 0 calc(var(--s) + 0.5em) var(--d);
  line-height: 1.8;
  background: conic-gradient(
        at left var(--s) bottom var(--d),
        #0000 25%,
        #0008 0 37.5%,
        #0004 0
      )
      0 /50% 100% no-repeat,
    conic-gradient(
        at right var(--s) bottom var(--d),
        #0004 62.5%,
        #0008 0 75%,
        #0000 0
      )
      100%/50% 100% no-repeat;
  clip-path: polygon(
    0 var(--d),
    var(--s) var(--d),
    var(--s) 0,
    calc(100% - var(--s)) 0,
    calc(100% - var(--s)) var(--d),
    100% var(--d),
    calc(100% - var(--c)) calc(50% + var(--d) / 2),
    100% 100%,
    calc(100% - var(--s) - var(--d)) 100%,
    calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),
    calc(var(--s) + var(--d)) calc(100% - var(--d)),
    calc(var(--s) + var(--d)) 100%,
    0 100%,
    var(--c) calc(50% + var(--d) / 2)
  );
  background-color: theme("colors.accent"); /* Tailwind/DaisyUI primary color */
  padding-bottom: 1em;
  padding-top: 0.2em;
}

.wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  z-index: 1;
}

.wave-top svg {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;    /* remove extra inline spacing */
  stroke: none; 
  fill: theme("colors.base-100");
  color: theme("colors.base-100");
}