#social-ribbon {
  color: #fff;

  --s: 1.8em; /* the ribbon size */
  --d: 0.8em; /* the depth */
  --c: 0.8em; /* the cutout part */

  padding: calc(var(--d) + 0.5em) calc(var(--s) + 0.5em);
  line-height: 1.4;

  background: conic-gradient(
        at left var(--s) bottom var(--d),
        #0000 25%,
        #0008 0 37.5%,
        #0004 0
      )
      0 / 50% 100% no-repeat,
    conic-gradient(
        from -45deg at right var(--s) top var(--d),
        #0004 62.5%,
        #0000 0 87.5%,
        #0008 0
      )
      100% / 50% 100% no-repeat;

  /* main color from Tailwind theme */
  background-color: theme("colors.accent");

  clip-path: polygon(
    0 calc(2 * var(--d)),
    var(--s) calc(2 * var(--d)),
    var(--s) var(--d),
    calc(100% - var(--s) - var(--d)) var(--d),
    calc(100% - var(--s) - var(--d)) 0,
    100% 0,
    calc(100% - var(--c)) calc(50% - var(--d)),
    100% calc(100% - 2 * var(--d)),
    calc(100% - var(--s)) calc(100% - 2 * var(--d)),
    calc(100% - var(--s)) calc(100% - var(--d)),
    calc(var(--s) + var(--d)) calc(100% - var(--d)),
    calc(var(--s) + var(--d)) 100%,
    0 100%,
    var(--c) calc(50% + var(--d))
  );

  width: fit-content;
}

.contact-wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
  z-index: 1;
}

.contact-wave-top svg {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  display: block; /* remove extra inline spacing */
  stroke: none;
  fill: theme("colors.base-200");
  color: theme("colors.base-200");
}
